n8n/backup/workflows/Get_file_id.json
{
  "name": "Get file id",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0c7d48bb-081f-4844-b4fb-2861c4c14cc4",
              "name": "call_code",
              "value": "=%{{ $json.output.call_code }}%",
              "type": "string"
            },
            {
              "id": "b5a681f7-783d-408b-ad2e-48b780dfe1e8",
              "name": "call_title",
              "value": "=%{{ $json.output.call_title }}%",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        840,
        -500
      ],
      "id": "820c792f-ae2b-47c4-9aff-9834d9291cd3",
      "name": "call code & call title"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5445d1cc-8d2a-4f18-8d7e-204595871a61",
              "leftValue": "={{ $('Get all file_id') }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "843123f2-a34b-46ec-a256-cabc4bd0e8c3",
              "leftValue": "={{ $('Get all file_id').item.json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1480,
        -580
      ],
      "id": "ed5e6f41-2b07-4426-9129-c8b7ca88d677",
      "name": "Not empty?"
    },
    {
      "parameters": {
        "functionCode": "return [\n  {\n    json: {\n      file_ids: items.map(item => item.json.file_id).join(','),\n    },\n  }\n];"
      },
      "name": "Create an array of objects",
      "type": "n8n-nodes-base.function",
      "position": [
        1700,
        -620
      ],
      "typeVersion": 1,
      "id": "07ad2833-cacb-4f14-97bb-3b1eb578ae15"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        640,
        -500
      ],
      "id": "1bf93c3e-86b2-4030-ade9-beaf6adaa143",
      "name": "Execute Workflow Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1dac354a-1808-43ae-a1f5-e06a30943ad8",
              "name": "file_ids",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1700,
        -380
      ],
      "id": "d2bc5e70-a9e8-4024-adf7-af52341ec6cb",
      "name": "Blank response"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "Select DISTINCT(file_id), file_title FROM calls_urls WHERE call_code LIKE $1 AND call_title LIKE $2;",
        "options": {
          "queryReplacement": "={{ $json.call_code }},{{ $json.call_title }}"
        }
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        1280,
        -580
      ],
      "id": "1dd0ddb1-61ef-41d9-b336-d940442e845a",
      "name": "Get all file_id",
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "YVMSvciBFRX5zwTd",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Get file ids\n- Get file identifiers for a specific call",
        "height": 420,
        "width": 1260
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        580,
        -640
      ],
      "typeVersion": 1,
      "id": "d39c09cd-5bfe-43de-ba30-6a0d5de5204d",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "70ad3e40-04d7-4f3f-b883-558a110a42c8",
              "leftValue": "={{ $json.call_code }}",
              "rightValue": "%%",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "89f4104f-ae8d-4d50-9b53-80782b217ea0",
              "leftValue": "={{ $json.call_title }}",
              "rightValue": "%%",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1020,
        -500
      ],
      "id": "43012cfe-de21-4b76-8fd3-efb17bf544dc",
      "name": "data?"
    }
  ],
  "pinData": {
    "Execute Workflow Trigger": [
      {
        "json": {
          "output": {
            "call_code": "CEF-DIG-2024-EUROQCI-WORKS",
            "call_title": "EUROQCI Works: Digital Call"
          }
        }
      }
    ]
  },
  "connections": {
    "call code & call title": {
      "main": [
        [
          {
            "node": "data?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Not empty?": {
      "main": [
        [
          {
            "node": "Create an array of objects",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Blank response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an array of objects": {
      "main": [
        []
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "call code & call title",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get all file_id": {
      "main": [
        [
          {
            "node": "Not empty?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "data?": {
      "main": [
        [
          {
            "node": "Get all file_id",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Blank response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "5787c8f5-3b94-48a3-b5bc-556e49072585",
  "meta": {
    "instanceId": "558d88703fb65b2d0e44613bc35916258b0f0bf983c5d4730c00c424b77ca36a"
  },
  "id": "UtyxfTOZYZZbi3oa",
  "tags": [
    {
      "createdAt": "2024-12-04T13:49:48.129Z",
      "updatedAt": "2024-12-04T13:49:48.129Z",
      "id": "xxBU6l4CZLadHyeF",
      "name": "TFM"
    }
  ]
}