n8n/backup/workflows/Question_validator.json
{
  "name": "Question validator",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "75ebfdef-c8e2-4c3e-b716-1479d0cc2a73",
              "name": "chatInput",
              "value": "={{ $('EWT').item.json.chatInput }}",
              "type": "string"
            },
            {
              "id": "59b7a20f-0626-4861-93e2-015d430c266e",
              "name": "sessionId",
              "value": "={{ $('EWT').item.json.sessionId }}",
              "type": "string"
            },
            {
              "id": "30064158-83fd-434c-bdbd-dbbc70ba5f8f",
              "name": "schema",
              "value": "USE calls;  CREATE TABLE calls_basic_information (     call_code VARCHAR(250) NOT NULL,     call_title VARCHAR(250) NOT NULL,     call_href VARCHAR(250) NOT NULL,     call_type VARCHAR(250),     opening_date VARCHAR(250),     next_deadline VARCHAR(250),     deadline_model VARCHAR(250),     status VARCHAR(100),     programme VARCHAR(250),     type_of_action VARCHAR(250),     budget_total FLOAT,     scope VARCHAR(100) NOT NULL,     type_company VARCHAR(100),     PRIMARY KEY (call_code, call_title) ) COMMENT='Calls basic information' ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;  CREATE TABLE calls_budget_information (     call_code VARCHAR(250) NOT NULL,     call_title VARCHAR(250) NOT NULL,     budget_topic VARCHAR(250) NOT NULL,     budget_amount VARCHAR(250) NOT NULL,     budget_stages VARCHAR(250) NOT NULL,     budget_opening_date VARCHAR(250) NOT NULL,     budget_deadline VARCHAR(250) NOT NULL,     budget_contributions VARCHAR(250) NOT NULL,     budget_indicative_number_of_grants VARCHAR(250) NOT NULL,     PRIMARY KEY (call_code, call_title, budget_topic) ) COMMENT='Calls budget information' ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;  CREATE TABLE calls_description_information (     call_code VARCHAR(250) NOT NULL,     call_title VARCHAR(250) NOT NULL,     topic_description TEXT NOT NULL,     topic_destination TEXT NOT NULL,     topic_conditions_and_documents TEXT NOT NULL,     budget_overview TEXT NOT NULL,     partner_search_announcements TEXT NOT NULL,     start_submission TEXT NOT NULL,     get_support TEXT NOT NULL,     extra_information TEXT NOT NULL,     PRIMARY KEY (call_code, call_title) ) COMMENT='Calls description information' ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;  CREATE TABLE calls_files_information (     id BIGINT NOT NULL AUTO_INCREMENT,     file_url VARCHAR(250) NOT NULL,     file_text MEDIUMTEXT NOT NULL,     file_summary TEXT NOT NULL,     file_error_description VARCHAR(250),     file_error_code VARCHAR(100),     PRIMARY KEY (id) ) COMMENT='Calls files information' ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;  CREATE TABLE calls_urls (     call_code VARCHAR(250) NOT NULL,     call_title VARCHAR(250) NOT NULL,     file_id BIGINT NOT NULL,     file_title VARCHAR(250) NOT NULL,     PRIMARY KEY (call_code, call_title, file_id, file_title),     CONSTRAINT fk_file_id FOREIGN KEY(file_id) REFERENCES calls_files_information (id) ) COMMENT='Calls urls relationship' ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "b14778cd-19f5-4f00-b29f-16142c1cf96d",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -240,
        -200
      ]
    },
    {
      "parameters": {
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an assistant specialized in grants and calls for proposals. Your task is to analyze questions to determine whether they are related to this topic. A question will be considered valid if:\n\n1. It is related to general or specific information about grant calls, such as:\n - Key dates (start, end, resolution, etc.).\n - Requirements, budgets, recipients, or areas of application.\n - Details about associated documents (like PDFs) or data related to companies.\n2. It can be answered using information contained in a database of grant calls or associated documents.\n3. It references terms such as calls for proposals, grants, requirements, dates, budgets, or recipients, even if the phrasing is not exact.\n\nRespond strictly with a JSON containing the following fields:\n\n\"valid\": (true/false) Indicates whether the question is valid in this context.\n\"reason\": A brief explanation of why the question is valid or not.\n\"suggestion\": (Optional) If it is not valid, provide a suggestion for the user to rephrase the question.\n\nExample of a response for a valid question:\n{\n  \"valid\": true,\n  \"reason\": \"The question is related to the key dates of a grant call.\",\n  \"suggestion\": null\n}\n\nExample of a response for an invalid question:\n{\n  \"valid\": false,\n  \"reason\": \"The question is not related to grants or calls for proposals.\",\n  \"suggestion\": \"Please rephrase your question to include information related to grants or calls for proposals.\"\n}\n\nHere is the question to analyze:\n\"{{ $json.chatInput }}\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        0,
        -80
      ],
      "id": "efd3802b-d5b5-49c5-aba8-0864a6a769d2",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama3.2:3b-instruct-q3_K_L",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -60,
        140
      ],
      "id": "9bcf04a7-b76e-481d-86e4-61fa416d1bf9",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "eyEBAqW1xH6h7KLn",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -480,
        -200
      ],
      "id": "015c3de5-662d-455e-88b5-90a7f6e02350",
      "name": "EWT"
    }
  ],
  "pinData": {},
  "connections": {
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "EWT": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6cc462f1-4ebb-414d-968b-41b491763329",
  "meta": {
    "instanceId": "558d88703fb65b2d0e44613bc35916258b0f0bf983c5d4730c00c424b77ca36a"
  },
  "id": "CSw5JpuPPkXa7u7s",
  "tags": []
}